.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(images/collectibles.png);}

.collectibles_1 {width:32px; height:48px; background-position: -424px -93px}
.collectibles_2 {width:32px; height:32px; background-position: -129px -87px}
.collectibles_3 {width:40px; height:34px; background-position: -351px -501px}
.collectibles_4 {width:50px; height:50px; background-position: -59px -1146px}
.collectibles_5 {width:42px; height:54px; background-position: -165px -1008px}
.collectibles_6 {width:24px; height:38px; background-position: -841px -1329px}
.collectibles_7 {width:56px; height:34px; background-position: -107px -1014px}
.collectibles_8 {width:34px; height:46px; background-position: -982px -161px}
.collectibles_9 {width:38px; height:46px; background-position: -982px -209px}
.collectibles_10 {width:38px; height:46px; background-position: -203px -404px}
.collectibles_11 {width:38px; height:40px; background-position: -497px -499px}
.collectibles_12 {width:38px; height:40px; background-position: -205px -508px}
.collectibles_13 {width:26px; height:50px; background-position: -990px -109px}
.collectibles_14 {width:26px; height:50px; background-position: -846px -151px}
.collectibles_15 {width:38px; height:38px; background-position: -529px -1109px}
.collectibles_16 {width:38px; height:36px; background-position: -909px -1011px}
.collectibles_17 {width:32px; height:46px; background-position: -633px -451px}
.collectibles_18 {width:34px; height:44px; background-position: -193px -605px}
.collectibles_19 {width:60px; height:54px; background-position: -196px -1px}
.collectibles_20 {width:30px; height:56px; background-position: -143px -776px}
.collectibles_21 {width:40px; height:36px; background-position: -225px -1310px}
.collectibles_22 {width:46px; height:56px; background-position: -55px -908px}
.collectibles_23 {width:46px; height:48px; background-position: -522px -143px}
.collectibles_24 {width:50px; height:62px; background-position: -1px -658px}
.collectibles_25 {width:60px; height:58px; background-position: -67px -61px}
.collectibles_26 {width:44px; height:40px; background-position: -877px -703px}
.collectibles_27 {width:26px; height:44px; background-position: -954px -203px}
.collectibles_28 {width:48px; height:42px; background-position: -523px -249px}
.collectibles_29 {width:40px; height:34px; background-position: -949px -1030px}
.collectibles_30 {width:42px; height:38px; background-position: -485px -1109px}
.collectibles_31 {width:26px; height:52px; background-position: -193px -551px}
.collectibles_32 {width:38px; height:44px; background-position: -923px -703px}
.collectibles_33 {width:40px; height:48px; background-position: -939px -291px}
.collectibles_34 {width:40px; height:48px; background-position: -879px -653px}
.collectibles_35 {width:40px; height:48px; background-position: -921px -653px}
.collectibles_36 {width:42px; height:38px; background-position: -699px -1067px}
.collectibles_37 {width:42px; height:52px; background-position: -119px -235px}
.collectibles_38 {width:40px; height:46px; background-position: -963px -702px}
.collectibles_39 {width:48px; height:42px; background-position: -573px -249px}
.collectibles_40 {width:50px; height:52px; background-position: -111px -1144px}
.collectibles_41 {width:30px; height:48px; background-position: -397px -1151px}
.collectibles_42 {width:46px; height:42px; background-position: -933px -341px}
.collectibles_44 {width:32px; height:48px; background-position: -633px -499px}
.collectibles_45 {width:50px; height:42px; background-position: -471px -249px}
.collectibles_46 {width:48px; height:56px; background-position: -57px -966px}
.collectibles_47 {width:32px; height:48px; background-position: -683px -549px}
.collectibles_48 {width:28px; height:52px; background-position: -175px -761px}
.collectibles_49 {width:48px; height:46px; background-position: -675px -279px}
.collectibles_50 {width:40px; height:42px; background-position: -963px -800px}
.collectibles_51 {width:52px; height:58px; background-position: -1px -846px}
.collectibles_52 {width:36px; height:58px; background-position: -59px -598px}
.collectibles_53 {width:40px; height:42px; background-position: -359px -1349px}
.collectibles_54 {width:34px; height:42px; background-position: -401px -1349px}
.collectibles_55 {width:32px; height:42px; background-position: -481px -1349px}
.collectibles_56 {width:36px; height:36px; background-position: -743px -1095px}
.collectibles_57 {width:64px; height:30px; background-position: -258px -55px}
.collectibles_58 {width:40px; height:48px; background-position: -963px -750px}
.collectibles_60 {width:40px; height:48px; background-position: -363px -917px}
.collectibles_62 {width:63px; height:46px; background-position: -577px -1px}
.collectibles_63 {width:32px; height:42px; background-position: -515px -1349px}
.collectibles_64 {width:38px; height:44px; background-position: -923px -749px}
.collectibles_65 {width:40px; height:48px; background-position: -397px -863px}
.collectibles_66 {width:36px; height:44px; background-position: -695px -695px}
.collectibles_67 {width:34px; height:46px; background-position: -187px -844px}
.collectibles_68 {width:48px; height:46px; background-position: -599px -347px}
.collectibles_69 {width:30px; height:42px; background-position: -500px -1479px}
.collectibles_70 {width:26px; height:50px; background-position: -319px -567px}
.collectibles_71 {width:30px; height:36px; background-position: -876px -1401px}
.collectibles_72 {width:44px; height:46px; background-position: -831px -741px}
.collectibles_73 {width:38px; height:36px; background-position: -939px -1186px}
.collectibles_74 {width:40px; height:44px; background-position: -229px -605px}
.collectibles_75 {width:44px; height:34px; background-position: -951px -920px}
.collectibles_76 {width:52px; height:24px; background-position: -621px -223px}
.collectibles_77 {width:32px; height:46px; background-position: -547px -1199px}
.collectibles_78 {width:40px; height:48px; background-position: -405px -913px}
.collectibles_79 {width:42px; height:40px; background-position: -937px -249px}
.collectibles_80 {width:36px; height:50px; background-position: -645px -589px}
.collectibles_81 {width:63px; height:48px; background-position: -512px -1px}
.collectibles_82 {width:36px; height:48px; background-position: -447px -913px}
.collectibles_83 {width:26px; height:44px; background-position: -997px -886px}
.collectibles_84 {width:32px; height:52px; background-position: -163px -235px}
.collectibles_85 {width:56px; height:52px; background-position: -829px -1px}
.collectibles_86 {width:32px; height:42px; background-position: -707px -1153px}
.collectibles_87 {width:44px; height:48px; background-position: -345px -451px}
.collectibles_88 {width:34px; height:44px; background-position: -705px -1197px}
.collectibles_89 {width:63px; height:42px; background-position: -1px -1479px}
.collectibles_90 {width:36px; height:34px; background-position: -979px -1280px}
.collectibles_91 {width:46px; height:48px; background-position: -441px -449px}
.collectibles_92 {width:52px; height:42px; background-position: -792px -193px}
.collectibles_93 {width:30px; height:38px; background-position: -820px -1459px}
.collectibles_94 {width:30px; height:42px; background-position: -533px -1393px}
.collectibles_95 {width:34px; height:46px; background-position: -397px -1251px}
.collectibles_96 {width:38px; height:50px; background-position: -963px -650px}
.collectibles_97 {width:40px; height:48px; background-position: -405px -963px}
.collectibles_98 {width:32px; height:38px; background-position: -781px -1093px}
.collectibles_99 {width:44px; height:44px; background-position: -877px -745px}
.collectibles_100 {width:36px; height:46px; background-position: -359px -1201px}
.collectibles_101 {width:54px; height:30px; background-position: -622px -191px}
.collectibles_102 {width:48px; height:44px; background-position: -667px -457px}
.collectibles_103 {width:42px; height:42px; background-position: -437px -1349px}
.collectibles_104 {width:38px; height:46px; background-position: -923px -795px}
.collectibles_105 {width:44px; height:40px; background-position: -609px -1017px}
.collectibles_106 {width:50px; height:60px; background-position: -1px -722px}
.collectibles_107 {width:40px; height:44px; background-position: -613px -1059px}
.collectibles_108 {width:36px; height:36px; background-position: -885px -1287px}
.collectibles_109 {width:44px; height:42px; background-position: -619px -833px}
.collectibles_110 {width:44px; height:46px; background-position: -527px -829px}
.collectibles_111 {width:22px; height:30px; background-position: -649px -347px}
.collectibles_112 {width:58px; height:46px; background-position: -770px -55px}
.collectibles_113 {width:34px; height:50px; background-position: -209px -1054px}
.collectibles_114 {width:24px; height:58px; background-position: -127px -596px}
.collectibles_115 {width:50px; height:38px; background-position: -673px -327px}
.collectibles_116 {width:38px; height:46px; background-position: -527px -1013px}
.collectibles_117 {width:48px; height:44px; background-position: -769px -467px}
.collectibles_118 {width:46px; height:46px; background-position: -933px -385px}
.collectibles_119 {width:42px; height:48px; background-position: -489px -449px}
.collectibles_120 {width:30px; height:44px; background-position: -565px -1391px}
.collectibles_121 {width:58px; height:36px; background-position: -388px -55px}
.collectibles_122 {width:50px; height:44px; background-position: -623px -249px}
.collectibles_123 {width:40px; height:48px; background-position: -439px -863px}
.collectibles_124 {width:46px; height:58px; background-position: -53px -724px}
.collectibles_125 {width:42px; height:56px; background-position: -101px -840px}
.collectibles_126 {width:30px; height:42px; background-position: -610px -1435px}
.collectibles_127 {width:36px; height:32px; background-position: -401px -1065px}
.collectibles_128 {width:64px; height:26px; background-position: -572px -89px}
.collectibles_129 {width:50px; height:56px; background-position: -61px -1198px}
.collectibles_130 {width:44px; height:60px; background-position: -55px -784px}
.collectibles_131 {width:30px; height:42px; background-position: -612px -1479px}
.collectibles_132 {width:28px; height:26px; background-position: -258px -1496px}
.collectibles_133 {width:36px; height:46px; background-position: -661px -1105px}
.collectibles_134 {width:46px; height:44px; background-position: -819px -467px}
.collectibles_135 {width:44px; height:42px; background-position: -665px -833px}
.collectibles_136 {width:46px; height:52px; background-position: -343px -397px}
.collectibles_137 {width:46px; height:48px; background-position: -867px -473px}
.collectibles_138 {width:48px; height:58px; background-position: -61px -412px}
.collectibles_139 {width:60px; height:42px; background-position: -642px -51px}
.collectibles_140 {width:52px; height:58px; background-position: -1px -906px}
.collectibles_141 {width:44px; height:42px; background-position: -743px -877px}
.collectibles_142 {width:54px; height:56px; background-position: -1px -966px}
.collectibles_143 {width:26px; height:50px; background-position: -369px -619px}
.collectibles_144 {width:40px; height:46px; background-position: -527px -1061px}
.collectibles_145 {width:40px; height:40px; background-position: -703px -1243px}
.collectibles_146 {width:36px; height:46px; background-position: -581px -1195px}
.collectibles_147 {width:50px; height:50px; background-position: -367px -193px}
.collectibles_148 {width:34px; height:46px; background-position: -549px -1247px}
.collectibles_149 {width:36px; height:44px; background-position: -667px -1379px}
.collectibles_150 {width:48px; height:32px; background-position: -297px -533px}
.collectibles_151 {width:38px; height:46px; background-position: -579px -1147px}
.collectibles_152 {width:52px; height:46px; background-position: -363px -245px}
.collectibles_153 {width:64px; height:58px; background-position: -1px -1px}
.collectibles_154 {width:36px; height:54px; background-position: -124px -121px}
.collectibles_155 {width:32px; height:46px; background-position: -585px -1243px}
.collectibles_156 {width:50px; height:58px; background-position: -61px -290px}
.collectibles_157 {width:24px; height:38px; background-position: -843px -1369px}
.collectibles_158 {width:40px; height:44px; background-position: -699px -1107px}
.collectibles_159 {width:46px; height:48px; background-position: -917px -523px}
.collectibles_160 {width:34px; height:36px; background-position: -903px -1249px}
.collectibles_161 {width:44px; height:50px; background-position: -373px -759px}
.collectibles_162 {width:46px; height:54px; background-position: -161px -1064px}
.collectibles_163 {width:38px; height:48px; background-position: -447px -963px}
.collectibles_164 {width:44px; height:50px; background-position: -765px -601px}
.collectibles_165 {width:48px; height:50px; background-position: -291px -345px}
.collectibles_166 {width:48px; height:48px; background-position: -245px -451px}
.collectibles_167 {width:38px; height:48px; background-position: -485px -913px}
.collectibles_168 {width:36px; height:62px; background-position: -105px -532px}
.collectibles_169 {width:50px; height:48px; background-position: -61px -1372px}
.collectibles_170 {width:50px; height:46px; background-position: -874px -155px}
.collectibles_171 {width:54px; height:46px; background-position: -311px -193px}
.collectibles_172 {width:24px; height:56px; background-position: -113px -290px}
.collectibles_173 {width:46px; height:56px; background-position: -103px -898px}
.collectibles_174 {width:62px; height:52px; background-position: -258px -1px}
.collectibles_175 {width:42px; height:46px; background-position: -589px -495px}
.collectibles_176 {width:44px; height:44px; background-position: -313px -1299px}
.collectibles_177 {width:54px; height:46px; background-position: -251px -241px}
.collectibles_178 {width:38px; height:48px; background-position: -487px -963px}
.collectibles_179 {width:44px; height:40px; background-position: -569px -1105px}
.collectibles_180 {width:22px; height:30px; background-position: -999px -1316px}
.collectibles_181 {width:44px; height:60px; background-position: -55px -846px}
.collectibles_182 {width:36px; height:54px; background-position: -162px -121px}
.collectibles_183 {width:48px; height:38px; background-position: -915px -483px}
.collectibles_184 {width:40px; height:48px; background-position: -225px -1210px}
.collectibles_185 {width:63px; height:38px; background-position: -577px -49px}
.collectibles_186 {width:50px; height:46px; background-position: -779px -237px}
.collectibles_187 {width:54px; height:42px; background-position: -622px -147px}
.collectibles_188 {width:48px; height:44px; background-position: -667px -503px}
.collectibles_189 {width:48px; height:48px; background-position: -295px -451px}
.collectibles_190 {width:58px; height:56px; background-position: -1px -366px}
.collectibles_191 {width:34px; height:44px; background-position: -705px -1375px}
.collectibles_192 {width:40px; height:48px; background-position: -225px -1260px}
.collectibles_193 {width:38px; height:54px; background-position: -267px -289px}
.collectibles_194 {width:38px; height:38px; background-position: -861px -1129px}
.collectibles_195 {width:54px; height:44px; background-position: -126px -1478px}
.collectibles_196 {width:40px; height:46px; background-position: -567px -1011px}
.collectibles_197 {width:44px; height:54px; background-position: -163px -1120px}
.collectibles_198 {width:48px; height:44px; background-position: -717px -509px}
.collectibles_199 {width:34px; height:46px; background-position: -549px -1295px}
.collectibles_200 {width:40px; height:40px; background-position: -374px -1479px}
.collectibles_201 {width:48px; height:36px; background-position: -867px -523px}
.collectibles_202 {width:48px; height:36px; background-position: -347px -537px}
.collectibles_203 {width:46px; height:40px; background-position: -157px -509px}
.collectibles_204 {width:50px; height:40px; background-position: -885px -249px}
.collectibles_205 {width:46px; height:48px; background-position: -397px -537px}
.collectibles_206 {width:46px; height:44px; background-position: -917px -573px}
.collectibles_207 {width:42px; height:44px; background-position: -589px -543px}
.collectibles_208 {width:42px; height:30px; background-position: -357px -1015px}
.collectibles_209 {width:46px; height:44px; background-position: -447px -587px}
.collectibles_210 {width:46px; height:52px; background-position: -391px -395px}
.collectibles_211 {width:58px; height:58px; background-position: -1px -186px}
.collectibles_212 {width:42px; height:42px; background-position: -655px -1061px}
.collectibles_213 {width:38px; height:24px; background-position: -741px -1217px}
.collectibles_214 {width:28px; height:42px; background-position: -758px -1467px}
.collectibles_215 {width:56px; height:50px; background-position: -890px -55px}
.collectibles_216 {width:40px; height:56px; background-position: -145px -834px}
.collectibles_217 {width:58px; height:58px; background-position: -1px -246px}
.collectibles_218 {width:50px; height:42px; background-position: -725px -329px}
.collectibles_219 {width:50px; height:46px; background-position: -725px -281px}
.collectibles_220 {width:46px; height:44px; background-position: -447px -633px}
.collectibles_221 {width:36px; height:40px; background-position: -530px -1437px}
.collectibles_222 {width:40px; height:38px; background-position: -833px -921px}
.collectibles_223 {width:46px; height:48px; background-position: -447px -679px}
.collectibles_224 {width:50px; height:48px; background-position: -366px -143px}
.collectibles_225 {width:44px; height:40px; background-position: -615px -1105px}
.collectibles_226 {width:46px; height:46px; background-position: -783px -653px}
.collectibles_227 {width:48px; height:36px; background-position: -397px -587px}
.collectibles_228 {width:40px; height:40px; background-position: -416px -1479px}
.collectibles_229 {width:42px; height:46px; background-position: -545px -541px}
.collectibles_230 {width:56px; height:52px; background-position: -887px -1px}
.collectibles_231 {width:36px; height:34px; background-position: -923px -1300px}
.collectibles_232 {width:44px; height:50px; background-position: -811px -601px}
.collectibles_233 {width:36px; height:36px; background-position: -867px -1325px}
.collectibles_234 {width:63px; height:54px; background-position: -59px -121px}
.collectibles_236 {width:46px; height:36px; background-position: -829px -703px}
.collectibles_237 {width:46px; height:40px; background-position: -733px -699px}
.collectibles_238 {width:46px; height:38px; background-position: -781px -701px}
.collectibles_239 {width:46px; height:30px; background-position: -271px -619px}
.collectibles_240 {width:26px; height:50px; background-position: -283px -995px}
.collectibles_241 {width:44px; height:42px; background-position: -789px -877px}
.collectibles_242 {width:40px; height:44px; background-position: -619px -1147px}
.collectibles_243 {width:48px; height:48px; background-position: -391px -449px}
.collectibles_244 {width:32px; height:46px; background-position: -585px -1291px}
.collectibles_245 {width:44px; height:36px; background-position: -267px -1393px}
.collectibles_246 {width:44px; height:46px; background-position: -573px -829px}
.collectibles_247 {width:52px; height:50px; background-position: -258px -141px}
.collectibles_248 {width:52px; height:50px; background-position: -312px -141px}
.collectibles_249 {width:42px; height:44px; background-position: -609px -971px}
.collectibles_250 {width:48px; height:48px; background-position: -533px -395px}
.collectibles_251 {width:42px; height:50px; background-position: -451px -729px}
.collectibles_252 {width:46px; height:48px; background-position: -857px -603px}
.collectibles_253 {width:40px; height:42px; background-position: -458px -1479px}
.collectibles_254 {width:40px; height:40px; background-position: -568px -1437px}
.collectibles_255 {width:40px; height:42px; background-position: -532px -1479px}
.collectibles_256 {width:50px; height:52px; background-position: -307px -291px}
.collectibles_257 {width:44px; height:52px; background-position: -487px -395px}
.collectibles_258 {width:58px; height:54px; background-position: -1px -1255px}
.collectibles_259 {width:54px; height:48px; background-position: -307px -241px}
.collectibles_260 {width:44px; height:50px; background-position: -735px -783px}
.collectibles_261 {width:46px; height:40px; background-position: -687px -741px}
.collectibles_262 {width:40px; height:44px; background-position: -619px -1193px}
.collectibles_263 {width:34px; height:44px; background-position: -642px -1431px}
.collectibles_264 {width:42px; height:30px; background-position: -951px -956px}
.collectibles_265 {width:48px; height:48px; background-position: -583px -395px}
.collectibles_266 {width:44px; height:42px; background-position: -835px -877px}
.collectibles_267 {width:38px; height:55px; background-position: -111px -350px}
.collectibles_268 {width:34px; height:46px; background-position: -549px -1343px}
.collectibles_269 {width:38px; height:30px; background-position: -979px -1214px}
.collectibles_270 {width:52px; height:28px; background-position: -245px -501px}
.collectibles_271 {width:30px; height:42px; background-position: -777px -1329px}
.collectibles_272 {width:48px; height:44px; background-position: -767px -513px}
.collectibles_273 {width:40px; height:40px; background-position: -875px -921px}
.collectibles_274 {width:36px; height:32px; background-position: -525px -929px}
.collectibles_275 {width:58px; height:55px; background-position: -1px -1198px}
.collectibles_276 {width:38px; height:46px; background-position: -619px -1239px}
.collectibles_277 {width:50px; height:42px; background-position: -829px -329px}
.collectibles_278 {width:40px; height:52px; background-position: -159px -651px}
.collectibles_279 {width:48px; height:46px; background-position: -817px -419px}
.collectibles_280 {width:48px; height:48px; background-position: -533px -445px}
.collectibles_281 {width:42px; height:50px; background-position: -643px -781px}
.collectibles_282 {width:42px; height:46px; background-position: -222px -1398px}
.collectibles_283 {width:44px; height:44px; background-position: -267px -1347px}
.collectibles_284 {width:40px; height:34px; background-position: -825px -1211px}
.collectibles_285 {width:36px; height:36px; background-position: -869px -1363px}
.collectibles_286 {width:28px; height:36px; background-position: -909px -1211px}
.collectibles_287 {width:40px; height:48px; background-position: -355px -1249px}
.collectibles_288 {width:58px; height:54px; background-position: -1px -1311px}
.collectibles_289 {width:44px; height:50px; background-position: -781px -783px}
.collectibles_290 {width:40px; height:50px; background-position: -209px -1106px}
.collectibles_291 {width:44px; height:28px; background-position: -311px -1017px}
.collectibles_292 {width:40px; height:48px; background-position: -359px -1299px}
.collectibles_293 {width:42px; height:52px; background-position: -981px -426px}
.collectibles_294 {width:30px; height:22px; background-position: -820px -1499px}
.collectibles_295 {width:63px; height:58px; background-position: -67px -1px}
.collectibles_296 {width:52px; height:44px; background-position: -846px -203px}
.collectibles_297 {width:46px; height:44px; background-position: -639px -735px}
.collectibles_298 {width:30px; height:28px; background-position: -815px -1299px}
.collectibles_299 {width:52px; height:50px; background-position: -359px -293px}
.collectibles_300 {width:58px; height:50px; background-position: -945px -1px}
.collectibles_301 {width:44px; height:46px; background-position: -267px -1201px}
.collectibles_302 {width:46px; height:40px; background-position: -735px -741px}
.collectibles_303 {width:50px; height:50px; background-position: -419px -193px}
.collectibles_304 {width:50px; height:42px; background-position: -881px -331px}
.collectibles_305 {width:52px; height:44px; background-position: -900px -203px}
.collectibles_306 {width:42px; height:42px; background-position: -661px -1195px}
.collectibles_307 {width:52px; height:42px; background-position: -725px -237px}
.collectibles_308 {width:50px; height:38px; background-position: -673px -367px}
.collectibles_309 {width:42px; height:42px; background-position: -659px -1239px}
.collectibles_310 {width:56px; height:38px; background-position: -200px -57px}
.collectibles_311 {width:34px; height:44px; background-position: -644px -1477px}
.collectibles_312 {width:44px; height:44px; background-position: -313px -1345px}
.collectibles_313 {width:52px; height:60px; background-position: -1px -784px}
.collectibles_314 {width:50px; height:42px; background-position: -725px -373px}
.collectibles_315 {width:40px; height:38px; background-position: -867px -1007px}
.collectibles_316 {width:28px; height:28px; background-position: -417px -723px}
.collectibles_317 {width:34px; height:48px; background-position: -397px -1201px}
.collectibles_318 {width:50px; height:42px; background-position: -777px -373px}
.collectibles_319 {width:36px; height:34px; background-position: -878px -1477px}
.collectibles_320 {width:48px; height:46px; background-position: -817px -513px}
.collectibles_321 {width:46px; height:40px; background-position: -783px -741px}
.collectibles_322 {width:50px; height:54px; background-position: -62px -1422px}
.collectibles_323 {width:40px; height:38px; background-position: -815px -1089px}
.collectibles_324 {width:58px; height:50px; background-position: -830px -55px}
.collectibles_325 {width:46px; height:48px; background-position: -831px -653px}
.collectibles_326 {width:46px; height:36px; background-position: -451px -781px}
.collectibles_327 {width:52px; height:52px; background-position: -169px -1344px}
.collectibles_328 {width:52px; height:52px; background-position: -258px -87px}
.collectibles_329 {width:54px; height:54px; background-position: -948px -53px}
.collectibles_330 {width:30px; height:42px; background-position: -777px -1373px}
.collectibles_331 {width:48px; height:38px; background-position: -633px -549px}
.collectibles_332 {width:50px; height:50px; background-position: -413px -293px}
.collectibles_333 {width:54px; height:54px; background-position: -113px -1256px}
.collectibles_334 {width:54px; height:54px; background-position: -113px -1312px}
.collectibles_335 {width:54px; height:54px; background-position: -114px -1422px}
.collectibles_336 {width:32px; height:48px; background-position: -401px -1299px}
.collectibles_337 {width:54px; height:54px; background-position: -163px -1176px}
.collectibles_338 {width:30px; height:42px; background-position: -780px -1417px}
.collectibles_339 {width:48px; height:38px; background-position: -817px -561px}
.collectibles_340 {width:32px; height:48px; background-position: -401px -1015px}
.collectibles_341 {width:46px; height:46px; background-position: -499px -781px}
.collectibles_342 {width:36px; height:52px; background-position: -201px -651px}
.collectibles_343 {width:56px; height:46px; background-position: -756px -103px}
.collectibles_344 {width:38px; height:46px; background-position: -619px -1287px}
.collectibles_345 {width:34px; height:44px; background-position: -678px -1425px}
.collectibles_346 {width:48px; height:42px; background-position: -143px -551px}
.collectibles_347 {width:56px; height:46px; background-position: -874px -107px}
.collectibles_348 {width:28px; height:44px; background-position: -714px -1421px}
.collectibles_349 {width:42px; height:38px; background-position: -313px -1391px}
.collectibles_350 {width:58px; height:56px; background-position: -1px -424px}
.collectibles_351 {width:46px; height:34px; background-position: -903px -843px}
.collectibles_352 {width:50px; height:48px; background-position: -418px -143px}
.collectibles_353 {width:50px; height:56px; background-position: -61px -1256px}
.collectibles_354 {width:42px; height:48px; background-position: -319px -917px}
.collectibles_355 {width:44px; height:38px; background-position: -439px -1059px}
.collectibles_356 {width:44px; height:44px; background-position: -435px -1013px}
.collectibles_357 {width:46px; height:40px; background-position: -711px -835px}
.collectibles_358 {width:42px; height:50px; background-position: -275px -865px}
.collectibles_359 {width:50px; height:50px; background-position: -465px -293px}
.collectibles_360 {width:56px; height:42px; background-position: -200px -149px}
.collectibles_361 {width:40px; height:38px; background-position: -857px -1089px}
.collectibles_362 {width:42px; height:40px; background-position: -881px -879px}
.collectibles_363 {width:54px; height:42px; background-position: -678px -149px}
.collectibles_364 {width:50px; height:30px; background-position: -299px -501px}
.collectibles_365 {width:42px; height:26px; background-position: -132px -59px}
.collectibles_366 {width:42px; height:54px; background-position: -981px -314px}
.collectibles_367 {width:58px; height:54px; background-position: -1px -1367px}
.collectibles_368 {width:44px; height:48px; background-position: -273px -917px}
.collectibles_369 {width:52px; height:40px; background-position: -831px -249px}
.collectibles_370 {width:50px; height:52px; background-position: -517px -293px}
.collectibles_371 {width:36px; height:48px; background-position: -403px -1099px}
.collectibles_372 {width:32px; height:42px; background-position: -917px -921px}
.collectibles_373 {width:36px; height:42px; background-position: -574px -1479px}
.collectibles_374 {width:54px; height:54px; background-position: -169px -1232px}
.collectibles_375 {width:46px; height:48px; background-position: -495px -731px}
.collectibles_376 {width:42px; height:48px; background-position: -267px -1249px}
.collectibles_377 {width:60px; height:52px; background-position: -386px -1px}
.collectibles_378 {width:52px; height:36px; background-position: -831px -291px}
.collectibles_379 {width:52px; height:34px; background-position: -105px -1050px}
.collectibles_380 {width:26px; height:38px; background-position: -848px -1409px}
.collectibles_381 {width:40px; height:54px; background-position: -111px -407px}
.collectibles_382 {width:36px; height:36px; background-position: -878px -1439px}
.collectibles_383 {width:46px; height:48px; background-position: -543px -731px}
.collectibles_384 {width:42px; height:40px; background-position: -357px -1393px}
.collectibles_385 {width:38px; height:34px; background-position: -939px -1224px}
.collectibles_386 {width:40px; height:38px; background-position: -819px -1129px}
.collectibles_387 {width:32px; height:54px; background-position: -633px -395px}
.collectibles_388 {width:38px; height:46px; background-position: -659px -1283px}
.collectibles_389 {width:30px; height:42px; background-position: -788px -1461px}
.collectibles_390 {width:62px; height:50px; background-position: -448px -1px}
.collectibles_391 {width:42px; height:52px; background-position: -205px -705px}
.collectibles_392 {width:58px; height:58px; background-position: -1px -306px}
.collectibles_393 {width:46px; height:38px; background-position: -807px -837px}
.collectibles_394 {width:56px; height:54px; background-position: -61px -234px}
.collectibles_395 {width:52px; height:38px; background-position: -777px -285px}
.collectibles_396 {width:42px; height:52px; background-position: -205px -759px}
.collectibles_397 {width:56px; height:55px; background-position: -61px -177px}
.collectibles_398 {width:50px; height:48px; background-position: -470px -143px}
.collectibles_399 {width:48px; height:52px; background-position: -675px -225px}
.collectibles_400 {width:46px; height:46px; background-position: -547px -781px}
.collectibles_401 {width:48px; height:48px; background-position: -583px -445px}
.collectibles_402 {width:48px; height:48px; background-position: -667px -407px}
.collectibles_403 {width:40px; height:38px; background-position: -783px -1177px}
.collectibles_404 {width:48px; height:48px; background-position: -717px -417px}
.collectibles_405 {width:32px; height:36px; background-position: -916px -1412px}
.collectibles_406 {width:32px; height:42px; background-position: -991px -1022px}
.collectibles_407 {width:44px; height:42px; background-position: -653px -971px}
.collectibles_408 {width:28px; height:54px; background-position: -175px -705px}
.collectibles_409 {width:58px; height:44px; background-position: -66px -1478px}
.collectibles_410 {width:38px; height:38px; background-position: -899px -1049px}
.collectibles_411 {width:36px; height:50px; background-position: -235px -943px}
.collectibles_412 {width:36px; height:46px; background-position: -585px -1339px}
.collectibles_413 {width:42px; height:50px; background-position: -319px -865px}
.collectibles_414 {width:42px; height:44px; background-position: -569px -1059px}
.collectibles_415 {width:32px; height:26px; background-position: -273px -967px}
.collectibles_416 {width:40px; height:42px; background-position: -783px -959px}
.collectibles_417 {width:56px; height:50px; background-position: -698px -97px}
.collectibles_418 {width:48px; height:40px; background-position: -767px -559px}
.collectibles_419 {width:32px; height:48px; background-position: -429px -1149px}
.collectibles_420 {width:42px; height:46px; background-position: -441px -1099px}
.collectibles_421 {width:32px; height:26px; background-position: -224px -1496px}
.collectibles_422 {width:36px; height:44px; background-position: -680px -1471px}
.collectibles_423 {width:40px; height:42px; background-position: -783px -1003px}
.collectibles_424 {width:40px; height:42px; background-position: -825px -961px}
.collectibles_425 {width:24px; height:40px; background-position: -999px -844px}
.collectibles_426 {width:40px; height:24px; background-position: -229px -917px}
.collectibles_427 {width:50px; height:46px; background-position: -777px -325px}
.collectibles_428 {width:44px; height:40px; background-position: -661px -1153px}
.collectibles_429 {width:48px; height:44px; background-position: -445px -541px}
.collectibles_430 {width:44px; height:34px; background-position: -743px -921px}
.collectibles_431 {width:38px; height:44px; background-position: -718px -1467px}
.collectibles_432 {width:50px; height:54px; background-position: -170px -1398px}
.collectibles_433 {width:32px; height:42px; background-position: -781px -1049px}
.collectibles_434 {width:40px; height:50px; background-position: -241px -995px}
.collectibles_435 {width:42px; height:48px; background-position: -311px -1249px}
.collectibles_436 {width:34px; height:32px; background-position: -163px -87px}
.collectibles_437 {width:40px; height:36px; background-position: -939px -1066px}
.collectibles_438 {width:36px; height:38px; background-position: -901px -1171px}
.collectibles_439 {width:40px; height:32px; background-position: -979px -1246px}
.collectibles_440 {width:56px; height:40px; background-position: -195px -193px}
.collectibles_441 {width:64px; height:58px; background-position: -1px -61px}
.collectibles_442 {width:36px; height:32px; background-position: -961px -1316px}
.collectibles_443 {width:50px; height:44px; background-position: -829px -373px}
.collectibles_444 {width:44px; height:44px; background-position: -481px -1013px}
.collectibles_445 {width:34px; height:40px; background-position: -745px -1243px}
.collectibles_446 {width:36px; height:44px; background-position: -743px -1049px}
.collectibles_447 {width:46px; height:34px; background-position: -951px -844px}
.collectibles_448 {width:34px; height:42px; background-position: -783px -1133px}
.collectibles_449 {width:34px; height:36px; background-position: -916px -1450px}
.collectibles_450 {width:36px; height:36px; background-position: -907px -1336px}
.collectibles_451 {width:40px; height:34px; background-position: -867px -1211px}
.collectibles_452 {width:34px; height:40px; background-position: -865px -1169px}
.collectibles_453 {width:50px; height:56px; background-position: -61px -1314px}
.collectibles_454 {width:48px; height:30px; background-position: -319px -619px}
.collectibles_455 {width:36px; height:40px; background-position: -901px -1129px}
.collectibles_456 {width:38px; height:38px; background-position: -899px -1089px}
.collectibles_457 {width:36px; height:40px; background-position: -939px -1104px}
.collectibles_458 {width:36px; height:34px; background-position: -916px -1488px}
.collectibles_459 {width:24px; height:38px; background-position: -852px -1449px}
.collectibles_460 {width:44px; height:44px; background-position: -559px -877px}
.collectibles_461 {width:40px; height:40px; background-position: -825px -1005px}
.collectibles_462 {width:32px; height:32px; background-position: -988px -1386px}
.collectibles_463 {width:28px; height:44px; background-position: -995px -976px}
.collectibles_464 {width:42px; height:36px; background-position: -789px -921px}
.collectibles_465 {width:38px; height:36px; background-position: -823px -1247px}
.collectibles_466 {width:58px; height:56px; background-position: -1px -482px}
.collectibles_467 {width:28px; height:50px; background-position: -417px -671px}
.collectibles_468 {width:42px; height:52px; background-position: -239px -651px}
.collectibles_469 {width:48px; height:40px; background-position: -867px -561px}
.collectibles_470 {width:40px; height:42px; background-position: -867px -963px}
.collectibles_471 {width:40px; height:40px; background-position: -949px -988px}
.collectibles_472 {width:34px; height:55px; background-position: -203px -347px}
.collectibles_473 {width:40px; height:40px; background-position: -741px -1133px}
.collectibles_474 {width:52px; height:46px; background-position: -417px -245px}
.collectibles_475 {width:36px; height:32px; background-position: -950px -1386px}
.collectibles_476 {width:36px; height:36px; background-position: -908px -1374px}
.collectibles_477 {width:48px; height:50px; background-position: -341px -345px}
.collectibles_478 {width:32px; height:48px; background-position: -433px -1199px}
.collectibles_479 {width:40px; height:52px; background-position: -249px -705px}
.collectibles_480 {width:48px; height:46px; background-position: -495px -541px}
.collectibles_481 {width:50px; height:50px; background-position: -621px -295px}
.collectibles_482 {width:34px; height:46px; background-position: -623px -1335px}
.collectibles_483 {width:59px; height:54px; background-position: -1px -1423px}
.collectibles_484 {width:30px; height:22px; background-position: -820px -1499px}
.collectibles_485 {width:42px; height:44px; background-position: -655px -1015px}
.collectibles_486 {width:42px; height:30px; background-position: -981px -1102px}
.collectibles_487 {width:42px; height:42px; background-position: -699px -1285px}
.collectibles_488 {width:40px; height:40px; background-position: -741px -1175px}
.collectibles_489 {width:44px; height:44px; background-position: -605px -877px}
.collectibles_490 {width:56px; height:56px; background-position: -1px -1024px}
.collectibles_491 {width:42px; height:52px; background-position: -249px -759px}
.collectibles_492 {width:46px; height:42px; background-position: -433px -819px}
.collectibles_493 {width:34px; height:44px; background-position: -741px -1329px}
.collectibles_494 {width:50px; height:44px; background-position: -881px -375px}
.collectibles_495 {width:34px; height:50px; background-position: -251px -1099px}
.collectibles_496 {width:30px; height:56px; background-position: -119px -177px}
.collectibles_497 {width:46px; height:32px; background-position: -369px -671px}
.collectibles_498 {width:38px; height:36px; background-position: -863px -1247px}
.collectibles_499 {width:32px; height:50px; background-position: -285px -1047px}
.collectibles_500 {width:42px; height:48px; background-position: -223px -1348px}
.collectibles_501 {width:46px; height:48px; background-position: -591px -731px}
.collectibles_502 {width:46px; height:32px; background-position: -905px -619px}
.collectibles_503 {width:30px; height:42px; background-position: -809px -1329px}
.collectibles_504 {width:40px; height:44px; background-position: -699px -1329px}
.collectibles_505 {width:34px; height:44px; background-position: -741px -1375px}
.collectibles_506 {width:42px; height:42px; background-position: -266px -1431px}
.collectibles_507 {width:42px; height:46px; background-position: -565px -963px}
.collectibles_508 {width:36px; height:48px; background-position: -433px -1249px}
.collectibles_509 {width:38px; height:50px; background-position: -245px -1047px}
.collectibles_510 {width:42px; height:40px; background-position: -401px -1393px}
.collectibles_511 {width:48px; height:38px; background-position: -221px -565px}
.collectibles_512 {width:58px; height:42px; background-position: -512px -51px}
.collectibles_513 {width:26px; height:42px; background-position: -997px -932px}
.collectibles_514 {width:56px; height:50px; background-position: -932px -109px}
.collectibles_515 {width:48px; height:48px; background-position: -767px -417px}
.collectibles_516 {width:44px; height:50px; background-position: -223px -813px}
.collectibles_517 {width:46px; height:52px; background-position: -439px -395px}
.collectibles_518 {width:38px; height:48px; background-position: -435px -1299px}
.collectibles_519 {width:36px; height:38px; background-position: -939px -1146px}
.collectibles_520 {width:52px; height:56px; background-position: -107px -956px}
.collectibles_521 {width:50px; height:50px; background-position: -151px -347px}
.collectibles_522 {width:40px; height:52px; background-position: -283px -651px}
.collectibles_523 {width:48px; height:44px; background-position: -717px -555px}
.collectibles_524 {width:44px; height:44px; background-position: -651px -877px}
.collectibles_525 {width:38px; height:38px; background-position: -977px -1134px}
.collectibles_526 {width:46px; height:50px; background-position: -867px -421px}
.collectibles_527 {width:48px; height:44px; background-position: -965px -574px}
.collectibles_528 {width:38px; height:38px; background-position: -979px -1174px}
.collectibles_529 {width:48px; height:40px; background-position: -683px -653px}
.collectibles_530 {width:54px; height:54px; background-position: -169px -1288px}
.collectibles_531 {width:48px; height:42px; background-position: -347px -575px}
.collectibles_532 {width:50px; height:46px; background-position: -495px -347px}
.collectibles_533 {width:48px; height:48px; background-position: -915px -433px}
.collectibles_534 {width:54px; height:48px; background-position: -368px -93px}
.collectibles_535 {width:62px; height:32px; background-position: -324px -55px}
.collectibles_536 {width:50px; height:40px; background-position: -717px -467px}
.collectibles_537 {width:44px; height:44px; background-position: -697px -877px}
.collectibles_538 {width:42px; height:42px; background-position: -310px -1431px}
.collectibles_539 {width:30px; height:34px; background-position: -984px -1350px}
.collectibles_540 {width:50px; height:36px; background-position: -393px -499px}
.collectibles_541 {width:48px; height:44px; background-position: -495px -589px}
.collectibles_542 {width:40px; height:38px; background-position: -781px -1217px}
.collectibles_543 {width:50px; height:42px; background-position: -965px -480px}
.collectibles_544 {width:48px; height:28px; background-position: -953px -620px}
.collectibles_545 {width:40px; height:48px; background-position: -224px -1446px}
.collectibles_546 {width:28px; height:28px; background-position: -950px -1420px}
.collectibles_547 {width:38px; height:40px; background-position: -781px -1257px}
.collectibles_548 {width:44px; height:38px; background-position: -563px -923px}
.collectibles_549 {width:58px; height:50px; background-position: -638px -95px}
.collectibles_550 {width:24px; height:40px; background-position: -925px -879px}
.collectibles_551 {width:32px; height:28px; background-position: -781px -1299px}
.collectibles_552 {width:32px; height:58px; background-position: -101px -720px}
.collectibles_553 {width:58px; height:56px; background-position: -1px -540px}
.collectibles_554 {width:56px; height:56px; background-position: -1px -1082px}
.collectibles_555 {width:32px; height:46px; background-position: -597px -1387px}
.collectibles_556 {width:34px; height:48px; background-position: -471px -1249px}
.collectibles_557 {width:44px; height:48px; background-position: -311px -967px}
.collectibles_558 {width:48px; height:46px; background-position: -545px -589px}
.collectibles_559 {width:44px; height:48px; background-position: -259px -1151px}
.collectibles_560 {width:38px; height:50px; background-position: -287px -1099px}
.collectibles_561 {width:40px; height:52px; background-position: -291px -705px}
.collectibles_562 {width:50px; height:40px; background-position: -445px -499px}
.collectibles_563 {width:56px; height:58px; background-position: -1px -598px}
.collectibles_564 {width:54px; height:40px; background-position: -734px -151px}
.collectibles_565 {width:48px; height:52px; background-position: -153px -399px}
.collectibles_566 {width:42px; height:63px; background-position: -61px -532px}
.collectibles_567 {width:28px; height:59px; background-position: -97px -597px}
.collectibles_568 {width:50px; height:50px; background-position: -239px -345px}
.collectibles_569 {width:44px; height:54px; background-position: -111px -463px}
.collectibles_570 {width:50px; height:46px; background-position: -547px -347px}
.collectibles_571 {width:40px; height:46px; background-position: -699px -971px}
.collectibles_572 {width:48px; height:46px; background-position: -595px -589px}
.collectibles_573 {width:44px; height:60px; background-position: -59px -1024px}
.collectibles_574 {width:46px; height:58px; background-position: -59px -1086px}
.collectibles_575 {width:62px; height:52px; background-position: -322px -1px}
.collectibles_576 {width:30px; height:56px; background-position: -139px -289px}
.collectibles_577 {width:24px; height:58px; background-position: -133px -656px}
.collectibles_578 {width:50px; height:48px; background-position: -570px -143px}
.collectibles_579 {width:38px; height:64px; background-position: -53px -658px}
.collectibles_580 {width:56px; height:30px; background-position: -678px -193px}
.collectibles_581 {width:40px; height:44px; background-position: -288px -1475px}
.collectibles_582 {width:50px; height:48px; background-position: -391px -345px}
.collectibles_583 {width:44px; height:56px; background-position: -151px -892px}
.collectibles_584 {width:40px; height:48px; background-position: -485px -1059px}
.collectibles_585 {width:54px; height:50px; background-position: -312px -89px}
.collectibles_586 {width:38px; height:52px; background-position: -293px -759px}
.collectibles_588 {width:42px; height:42px; background-position: -445px -1393px}
.collectibles_589 {width:36px; height:42px; background-position: -743px -1285px}
.collectibles_590 {width:38px; height:48px; background-position: -467px -1199px}
.collectibles_591 {width:38px; height:50px; background-position: -319px -1047px}
.collectibles_592 {width:42px; height:42px; background-position: -489px -1393px}
.collectibles_593 {width:46px; height:46px; background-position: -595px -781px}
.collectibles_594 {width:48px; height:44px; background-position: -397px -625px}
.collectibles_595 {width:38px; height:48px; background-position: -475px -1299px}
.collectibles_596 {width:42px; height:46px; background-position: -609px -923px}
.collectibles_597 {width:46px; height:50px; background-position: -271px -567px}
.collectibles_598 {width:42px; height:46px; background-position: -653px -923px}
.collectibles_599 {width:56px; height:63px; background-position: -1px -121px}
.collectibles_600 {width:30px; height:50px; background-position: -327px -1099px}
.collectibles_601 {width:38px; height:52px; background-position: -333px -705px}
.collectibles_602 {width:34px; height:40px; background-position: -812px -1417px}
.collectibles_603 {width:48px; height:44px; background-position: -495px -635px}
.collectibles_604 {width:32px; height:42px; background-position: -809px -1373px}
.collectibles_605 {width:42px; height:46px; background-position: -697px -923px}
.collectibles_606 {width:40px; height:58px; background-position: -101px -780px}
.collectibles_607 {width:38px; height:48px; background-position: -505px -1149px}
.collectibles_608 {width:34px; height:46px; background-position: -631px -1383px}
.collectibles_609 {width:34px; height:34px; background-position: -980px -1420px}
.collectibles_610 {width:50px; height:44px; background-position: -537px -495px}
.collectibles_611 {width:42px; height:52px; background-position: -325px -651px}
.collectibles_612 {width:38px; height:50px; background-position: -219px -1158px}
.collectibles_614 {width:44px; height:38px; background-position: -951px -880px}
.collectibles_615 {width:46px; height:40px; background-position: -759px -835px}
.collectibles_616 {width:32px; height:52px; background-position: -683px -599px}
.collectibles_617 {width:42px; height:42px; background-position: -354px -1435px}
.collectibles_618 {width:48px; height:60px; background-position: -61px -350px}
.collectibles_619 {width:46px; height:46px; background-position: -827px -789px}
.collectibles_621 {width:46px; height:38px; background-position: -855px -837px}
.collectibles_622 {width:48px; height:44px; background-position: -545px -637px}
.collectibles_623 {width:30px; height:52px; background-position: -419px -753px}
.collectibles_624 {width:38px; height:54px; background-position: -205px -452px}
.collectibles_625 {width:54px; height:52px; background-position: -113px -1368px}
.collectibles_626 {width:34px; height:22px; background-position: -187px -815px}
.collectibles_627 {width:54px; height:24px; background-position: -566px -117px}
.collectibles_628 {width:44px; height:50px; background-position: -269px -813px}
.collectibles_629 {width:46px; height:44px; background-position: -875px -791px}
.collectibles_631 {width:50px; height:52px; background-position: -569px -293px}
.collectibles_632 {width:48px; height:48px; background-position: -965px -524px}
.collectibles_633 {width:38px; height:46px; background-position: -659px -1331px}
.collectibles_634 {width:32px; height:48px; background-position: -515px -1299px}
.collectibles_635 {width:36px; height:52px; background-position: -645px -641px}
.collectibles_636 {width:42px; height:40px; background-position: -442px -1437px}
.collectibles_637 {width:30px; height:52px; background-position: -197px -892px}
.collectibles_638 {width:42px; height:34px; background-position: -981px -1066px}
.collectibles_639 {width:48px; height:44px; background-position: -595px -637px}
.collectibles_640 {width:50px; height:54px; background-position: -215px -289px}
.collectibles_641 {width:48px; height:52px; background-position: -243px -397px}
.collectibles_642 {width:44px; height:48px; background-position: -305px -1151px}
.collectibles_643 {width:50px; height:54px; background-position: -471px -193px}
.collectibles_644 {width:32px; height:48px; background-position: -525px -879px}
.collectibles_645 {width:56px; height:50px; background-position: -200px -97px}
.collectibles_646 {width:61px; height:48px; background-position: -642px -1px}
.collectibles_647 {width:40px; height:56px; background-position: -161px -950px}
.collectibles_649 {width:42px; height:40px; background-position: -486px -1437px}
.collectibles_650 {width:46px; height:46px; background-position: -357px -967px}
.collectibles_651 {width:52px; height:52px; background-position: -197px -235px}
.collectibles_652 {width:60px; height:54px; background-position: -705px -1px}
.collectibles_653 {width:38px; height:58px; background-position: -135px -716px}
.collectibles_654 {width:48px; height:38px; background-position: -645px -695px}
.collectibles_655 {width:40px; height:40px; background-position: -815px -1047px}
.collectibles_656 {width:24px; height:58px; background-position: -133px -656px}
.collectibles_657 {width:54px; height:40px; background-position: -790px -151px}
.collectibles_658 {width:42px; height:42px; background-position: -398px -1435px}
.collectibles_659 {width:30px; height:52px; background-position: -203px -946px}
.collectibles_660 {width:48px; height:48px; background-position: -495px -681px}
.collectibles_661 {width:64px; height:38px; background-position: -704px -57px}
.collectibles_663 {width:44px; height:48px; background-position: -351px -1151px}
.collectibles_664 {width:62px; height:56px; background-position: -132px -1px}
.collectibles_665 {width:32px; height:32px; background-position: -990px -1456px}
.collectibles_667 {width:40px; height:56px; background-position: -182px -1454px}
.collectibles_668 {width:40px; height:44px; background-position: -741px -957px}
.collectibles_669 {width:38px; height:48px; background-position: -507px -1199px}
.collectibles_670 {width:38px; height:38px; background-position: -939px -1260px}
.collectibles_671 {width:40px; height:44px; background-position: -741px -1003px}
.collectibles_672 {width:62px; height:36px; background-position: -448px -53px}
.collectibles_673 {width:56px; height:56px; background-position: -1px -1140px}
.collectibles_674 {width:52px; height:38px; background-position: -885px -291px}
.collectibles_675 {width:34px; height:34px; background-position: -954px -1456px}
.collectibles_676 {width:38px; height:54px; background-position: -153px -595px}
.collectibles_677 {width:48px; height:54px; background-position: -523px -193px}
.collectibles_678 {width:44px; height:46px; background-position: -313px -1201px}
.collectibles_679 {width:42px; height:55px; background-position: -981px -257px}
.collectibles_680 {width:48px; height:56px; background-position: -113px -1198px}
.collectibles_681 {width:48px; height:46px; background-position: -545px -683px}
.collectibles_682 {width:46px; height:54px; background-position: -573px -193px}
.collectibles_683 {width:40px; height:40px; background-position: -857px -1047px}
.collectibles_684 {width:32px; height:48px; background-position: -545px -1149px}
.collectibles_685 {width:46px; height:48px; background-position: -687px -783px}
.collectibles_686 {width:44px; height:50px; background-position: -315px -813px}
.collectibles_687 {width:58px; height:42px; background-position: -814px -107px}
.collectibles_688 {width:34px; height:44px; background-position: -744px -1421px}
.collectibles_689 {width:36px; height:34px; background-position: -946px -1350px}
.collectibles_690 {width:36px; height:38px; background-position: -847px -1285px}
.collectibles_691 {width:42px; height:56px; background-position: -151px -177px}
.collectibles_692 {width:48px; height:44px; background-position: -733px -653px}
.collectibles_693 {width:60px; height:52px; background-position: -767px -1px}
.collectibles_694 {width:40px; height:46px; background-position: -699px -1019px}
.collectibles_695 {width:42px; height:32px; background-position: -481px -879px}
.collectibles_696 {width:50px; height:32px; background-position: -245px -531px}
.collectibles_697 {width:38px; height:44px; background-position: -909px -965px}
.collectibles_698 {width:52px; height:56px; background-position: -107px -1086px}
.collectibles_699 {width:30px; height:52px; background-position: -209px -1000px}
.collectibles_700 {width:52px; height:50px; background-position: -458px -91px}
.collectibles_701 {width:52px; height:46px; background-position: -512px -95px}
.collectibles_702 {width:30px; height:50px; background-position: -361px -813px}
.collectibles_703 {width:38px; height:52px; background-position: -333px -759px}
.collectibles_704 {width:48px; height:58px; background-position: -61px -472px}
.collectibles_705 {width:38px; height:60px; background-position: -93px -658px}
.collectibles_706 {width:44px; height:50px; background-position: -229px -865px}
.collectibles_707 {width:46px; height:54px; background-position: -157px -453px}
.collectibles_708 {width:44px; height:46px; background-position: -267px -1299px}
.collectibles_709 {width:54px; height:40px; background-position: -926px -161px}
.collectibles_710 {width:48px; height:52px; background-position: -293px -397px}
.collectibles_711 {width:38px; height:40px; background-position: -825px -1169px}
.collectibles_712 {width:40px; height:48px; background-position: -463px -1149px}
.collectibles_713 {width:32px; height:50px; background-position: -363px -865px}
.collectibles_714 {width:56px; height:46px; background-position: -253px -193px}
.collectibles_715 {width:38px; height:50px; background-position: -393px -811px}
.collectibles_716 {width:40px; height:50px; background-position: -359px -1047px}
.collectibles_717 {width:40px; height:48px; background-position: -507px -1249px}
.collectibles_719 {width:48px; height:46px; background-position: -595px -683px}
.collectibles_720 {width:46px; height:50px; background-position: -717px -601px}
.collectibles_721 {width:50px; height:48px; background-position: -443px -345px}
.collectibles_722 {width:42px; height:54px; background-position: -981px -370px}
.collectibles_723 {width:42px; height:40px; background-position: -330px -1479px}
.collectibles_724 {width:42px; height:50px; background-position: -359px -1099px}
.collectibles_725 {width:42px; height:56px; background-position: -171px -289px}
.collectibles_726 {width:44px; height:48px; background-position: -481px -829px}
.collectibles_727 {width:36px; height:48px; background-position: -527px -963px}
.collectibles_728 {width:42px; height:52px; background-position: -373px -705px}
.collectibles_729 {width:54px; height:42px; background-position: -736px -193px}
